.users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.users td {
  background-color: #ffffff;
  color: #110e0e;
  text-align: left;
}
.users th {
  padding: 8px;
}

.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3ea09b;
  color: white;
}

.App-link {
  color: #61dafb;
}

.table-buttons {
  display: flex-root;
  float: inline-end;
}
